:root {
    --color: #000;
    --background-color: #f9f9f9;
    --bubble-background-color: rgba(249, 249, 249, 0.85);
    --border-color: #f9f9f9;
    --selection-background-color: #304f36;
    --highlight-text-color: #fff;
    --link-color: #093f04;
}
